@model NEXA.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            
            <!-- IMAGEN -->
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 rounded" src="https://images.pexels.com/photos/17309932/pexels-photo-17309932/free-photo-of-ciudad-techo-urbano-esfera.jpeg?auto=compress&cs=tinysrgb&w=600" alt="..." style="width: 400px; height: 500px" />
            </div>

            <!-- FORMULARIO -->
            <div class="col-md-6">
                <div class="card shadow-lg p-4">
                    <h2 class="text-center mb-4">Editar Usuario</h2>

                    <form asp-action="EditUsuario">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Rol" />

                        <div class="mb-3">
                            <label asp-for="NombreUsuario" class="form-label"></label>
                            <input asp-for="NombreUsuario" class="form-control" />
                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Correo" class="form-label"></label>
                            <input asp-for="Correo" class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cedula" class="form-label"></label>
                            <input asp-for="Cedula" class="form-control" />
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label"></label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 mt-3">
                            <i class="bi bi-save me-2"></i> Guardar Cambios
                        </button>
                    </form>

                    <form asp-action="Perfil" method="get">
                        <button type="submit" class="btn btn-outline-secondary w-100 mt-3 rounded-pill">
                            <i class="bi bi-arrow-left-circle me-2"></i> Volver
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

